Dear User,

Greetings from SearchMyTraining Team!
Your SearchMyTraining account details are still not verified. Please click below link to verify your email address.

${acctVerificationLink} 

Best Regards, 
SearchMyTraining Team

Text to show on profile page if email is not verified
We have sent an email to your address swagatika.dwibedi@gmail.com.
In the email message from us, click the "Confirm" button to confirm your registration

Didn't receive the email from us?
Check that your email address swagatika.dwibedi@gmail.com is spelled correctly. Need to change your email address?
Check your bulk or junk email folder.
Still can't find it? We can resend the email.